<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="applicable-device" content="pc">
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" media="screen" href="__PUBLIC__/style/style.css"/>
    <script src="__PUBLIC__/style/jquery.min.js"></script>
    <script src="__PUBLIC__/style/post.js"></script>
    <title>{$arts.title}</title>

    <!-- 跳出 -->
    <script type="text/javascript">
        if (top.location != self.location) {
            top.location = self.location
        }
    </script>
</head>

<body class="single single-post postid-42805 single-format-standard">

<include file="Public/head"/>

<div class="wrapper">

    <div class="content">
        <div class="meta">
            <h1 class="meta-tit">{$arts.title}</h1>
            <p class="meta-info">发表于：<a href="__APP__">{$catename}</a> 发表日期：{$arts.time|date="Y-m-d",###}</p>
        </div>

        <div class="entry">
            <p>
                <img class="aligncenter size-full wp-image-42806"
                     src="__ROOT__{$arts.pic}" width="630"
                     height="399"
                     sizes="(max-width: 630px) 100vw, 630px"/>
            </p>

            <?php echo htmlspecialchars_decode($arts['content']);?>
        </div>

        <div>
            <strong>上一篇：</strong>
            <if condition="$pre">
                <a class="prev-post icon-right" href="__MODULE__/Article/index/id/{$pre.id}">
                    {$pre.title}</a>
            <else/>
                没有了
            </if>
        </div>
        <div>
            <strong>下一篇：</strong>
            <if condition="$next">
                <a class="next-post" href="__MODULE__/Article/index/id/{$next.id}">
                    {$next.title}</a>
            <else/>
                没有了
            </if>
        </div>

        <!-- 分享代码 -->
        <div class="baidufenxiang" style="overflow:auto;"><!-- Baidu Button BEGIN -->
            <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
                <a class="bds_bdhome"></a>
                <a class="bds_renren"></a>
                <a class="bds_kaixin001"></a>
                <a class="bds_douban"></a>
                <a class="bds_youdao"></a>
                <a class="bds_sqq"></a>
                <a class="bds_hi"></a>
                <a class="bds_baidu"></a>
                <a class="bds_qq"></a>
                <a class="bds_tqq"></a>
                <a class="bds_tsina"></a>
                <a class="bds_qzone"></a>
                <a class="bds_mshare"></a>
                <span class="bds_more"></span>
                <a class="shareCount"></a>
            </div>
            <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=53164"></script>
            <script type="text/javascript" id="bdshell_js"></script>
            <script type="text/javascript">
                document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000)
            </script>
            <!-- Baidu Button END -->‘
        </div>

    </div>

    <include file="Public/right"/>

</div>

<include file="Public/footer"/>

</body>
</html>
