<div class="sidebar">

    <div class="widget1">
        <h3 class="widget-tit">关于我</h3>
        <ul class="mypages">
            <li>
                <a rel="nofollow" target="_blank" class="my-a my-qq"
                   href="http://user.qzone.qq.com/2303748137/main"><span><strong>QQ</strong></span>QQ</a>
            </li>
            <li>
                <a rel="nofollow" target="_blank" class="my-a my-weixin"
                   onclick="window.open('__PUBLIC__/images/weixin.png','','width=360,height=360');"><span><strong>微信</strong></span>微信</a>
            </li>
            <li>
                <a rel="nofollow" target="_blank" class="my-a my-weibo"
                   href="http://weibo.com/d4smart"><span><strong>微博</strong></span>微博</a>
            </li>
            <li>
                <a rel="nofollow" target="_blank" class="my-a my-taobao"
                   href="https://www.taobao.com/"><span><strong>淘宝</strong></span>淘宝</a>
            </li>
            <li>
                <a rel="nofollow" class="my-a my-mail"
                   href="mailto:d4smart@foxmail.com"><span><strong>邮箱</strong></span>邮箱</a>
            </li>
        </ul>
    </div>


    <div class="widget widget_categories"><h3 class="widget-tit">文章分类</h3>
        <ul>
            <volist name="cates" id="cate">
                <li class="cat-item cat-item-18">
                    <a href="__MODULE__/cate/{$cate.id}">&nbsp;{$cate.catename}&nbsp;</a>
                </li>
            </volist>

        </ul>
    </div>

    <div class="widget widget_recent_entries"><h3 class="widget-tit">最新发表</h3>
        <volist name="articles" id="article">
            <ul>
                <li><a href="__MODULE__/article/{$article.id}">{$article.title}</a></li>
            </ul>
        </volist>

    </div>

    <div class="widget widget_links"><h3 class="widget-tit">友情链接</h3>
        <ul class='blogroll'>
            <volist name="links" id="link">
                <li><a href="{$link.url}" rel="friend" target="_blank">{$link.title}</a></li><br>
            </volist>
        </ul>
    </div>

</div>