<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
</head>
<body>
<include file="Public/head" />

<div class="container clearfix">
    <include file="Public/left" />
    <!--/sidebar-->

    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">链接管理</span></div>
        </div>

        <div class="result-wrap">
            <form name="myform" id="myform" action="__CONTROLLER__/sort" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__CONTROLLER__/add"><i class="icon-font"></i>新增链接</a>
                        <input class="btn btn-primary btn2" type="submit" value="更新排序" />
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>链接排序</th>
                            <th>链接ID</th>
                            <th>链接标题</th>
                            <th>链接地址</th>
                            <th>链接描述</th>
                            <th>操作</th>
                        </tr>

                        <volist name="links" id="link">
                            <tr>
                                <td width="4%">
                                    <input class="common-input sort-input" name="{$link.id}" value="{$link.sort}" type="text">
                                </td>
                                <td width="4%">{$link.id}</td>
                                <td title="{$link.title}"> {$link.title} </a></td>
                                <td title="{$link.url}"><a target="_blank" href="{$link.url}" title="{$link.url}"> {$link.url} </a></td>
                                <td> {$link.desp} </td>
                                <td width="10%">
                                    <a class="link-update" href="__CONTROLLER__/edit/{$link.id}">修改</a>
                                    <a class="link-del" onclick="return confirm('你确定要删除这个链接吗？');" href="__CONTROLLER__/del/{$link.id}">删除</a>
                                </td>
                            </tr>
                        </volist>

                    </table>
                    <div class="list-page"> {$page} </div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>